<!DOCTYPE html>
<html lang="EN">
<link href="css/faq_style.css" rel="stylesheet" type="text/css">
  <head>
    <meta charset="UTF-8">
    <title>Snipshare</title>
  </head>
  <body>
    <div id="wrap">
      <div id="main">
           <div class = "form-box">
              <div class = "accordion-item" id="question1">
                <a class ="accordion-link" href="#question1">
                  What is Snipshare?
                </a>
                <div class ="answer">
                  Snipshare is an app that allow you to share your clipboard with friends.
                </div>
              </div>

               <div class = "accordion-item" id="question1">
                <a class ="accordion-link" href="#question1">
                  What was Snipshare made for?
                </a>
                <div class ="answer">
                  >Fill this field<
                </div>
              </div>

              <div class = "accordion-item" id="question1">
                <a class ="accordion-link" href="#question1">
                  How can i use Snipshare?
                </a>
                <div class ="answer">
                  You have to <a href="url">download</a> the desktop app, open it and place the code that you shared with your friend in acces code field.
                </div>
              </div>

              <div class = "accordion-item" id="question1">
                <a class ="accordion-link" href="#question1">
                  How can i generate the access code?
                </a>
                <div class ="answer">
                  You can generate it on the Snipshare room <a href="url">site</a>. <br>
                  The code will apear beneath the "create room" button.
                </div>
              </div>

              <div class = "accordion-item" id="question1">
                <a class ="accordion-link" href="#question1">
                  What functions doest Snipshare have?
                </a>
                <div class ="answer">
                  >Fill this field<
                </div>
              </div>
            </div>
      </div>
    </div>
    <div id="footer">
    Created by M.A.K. Group: &nbsp;&nbsp; Marcin Gasiewicz, Artur Jałocha, Kamil Radzymiński
    </div>
  </body>
</html>